body{
  background-image: url(https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  background-color: #BDC1F3;
  font-family: helvetica;
}
.textisi{
  width: 680px;
  cellspacing: 10px;
  font-size: 40pt;
  color: white;
}

.table{
  border: 0px;
  background-color: #3D5490;
  cellpadding : 10px;

}
.td1{
  width: 80px;
}
.td2{
  width: 470px;
  cellspacing: 100px;
  color: white;
}
.td3{
  width: 400px;
}
.tdlink{
  width: 640px;
}
.td4{
  width: 200px;
  align: center;
  color: white;
}
.td4a{
  width: 400px;
  align: center;
  margin-left: 100px;
  color: #9BEAD7;
}

.td5{
  width: 100px;
}
.p{
  font-size: 16pt;
  color: white;
}
.coba{
  font-size: 20pt;
  color: rgb(0,33,66);
}
.align{
  padding-left: 100px;
}
.masuk{
  font: helvetica;
  font-size: 40pt;
  width: 1920px;
  color: white;
  align: center;
}
.table2{
	cellpadding: 10px;
}
.td6{
	width: 640px;
}
.linkmasuk{
	width: 100px;
	align: center;
	font-size: 20pt;
	color : #9BEAD7;

}
.belum{
	align: center;
	width: 300px;
	color: #9BEAD7;
}
.center{
	width:1920px;
	align: center;
}
